form {
  width: 100%;
  text-align: left;
}

form .chakra-form-control:not(:first-of-type) {
  margin-top: 1rem;
}

.server-error {
  margin-top: 1rem;
  text-align: center;
  color: red;
}

.css-1sgc0qu {
  margin-left: 0 !important;
}

/* FilePicker */

.css-7nrq, .css-8hr38g {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

.css-1d0ox2v, .css-e9ptzl {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}