.user-name {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 2rem;
  line-height: 2rem;
}

.user-role {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.user-info {
  margin: 2rem 0;
  font-size: 1rem;
  text-align: left;
}

.user-bio {
  margin: 1rem 0 2rem 1.5rem;
  font-size: 1rem;
  text-align: left;
}